<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>New Registration</h1>
    <form action="/new/user/" method="post">
        Name: <input type="text" name="username"> <br><br>
        Email: <input type="email" name="email"> <br><br>
        Password: <input type="password" name="password"> <br><br>
        <input type="submit">
    </form>
</body>
</html>
